.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position:fixed;
    padding: 1rem;
    background-color: white;
    z-index: 5;

}

.navbar-link{
    position: relative;
    margin: 0 1rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
    font-family: var(--font-family);
}

.navbar-link:hover{
    color: #166aea;
}

.navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-logo{
    font-family: var(--font-logo);
    margin: 0 3rem 0 1rem;
    color: blue;
    font-size: 2rem;
}

.navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-loggedin , .navbar-loggedout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-createBlog-btn{
    padding: 12px 24px;
    border-radius: 24px;
    background-color:#166aea;
    color:rgb(255, 255, 255);
    font-family: var(--font-family);
    font-weight: 550;
    font-size:medium;
    letter-spacing: 1px;
    margin-right: 2rem;
    text-decoration: none;
}

.navbar-loggedin p{
    font-family: var(--font-family);
}


.getStarted-btn{
    padding: 12px 24px;
    border-radius: 24px;
    background-color:#166aea;
    color:rgb(255, 255, 255);
    font-family: var(--font-family);
    font-weight: 550;
    font-size:medium;
    letter-spacing: 1px;
    margin-right: 2rem;
    text-decoration: none;
}



.getStarted-btn:hover ,.navbar-createBlog:hover{
    background-color: #327ceb;
}



.navbar-logout-btn{
    border: none;
    background-color: white;
    color: #166aea;
    padding: 0 2rem;
    font-weight: 550;
    font-size:medium;
    cursor: pointer;
}

.mobile{
    display: none;
}

.mobile-nav-container{
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    position:absolute;
    justify-content: flex-start;
    align-items: flex-start;

}

@media screen and (max-width:550px){
    .mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        position: relative;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar-left-links{
        display: none;
    }
    .navbar-right{
        display: none;
    }
}